.sezione-principale{
    width: 80%;
    margin: auto;
    border: 1px solid black;
    background-color: white;
    text-align: center;
    position: relative;
  }

  .contenitore{
    width: 350px;
    height: 400px;
    position: relative;
  }

  .uno{
    margin-left: -25px;
    position: absolute;
    top: 10px;
  }

  .due{
    margin-left: 330px;
    position: absolute;
    top: 10px;
  }
  
  .tre{
    margin-left: 685px;
    position: absolute;
    top: 10px;
  }

  img{
    width: 290px;
    height: 400px;
  }